/* Container */
.ub-tooltip {
  display: flex;
  width: fit-content;
  min-width: 320px;
  max-width: 520px;
  flex-direction: column;
  font-size: 0.875rem;
  gap: 0.4rem;
  border-radius: var(--ub-radius);
  border: 3px solid color-mix(in oklch, var(--ub-border) 50%, transparent);
  padding: 0.5rem 0rem 0.5rem 0rem;
  background-color: var(--ub-popover);
  overflow: hidden;
}

.ub-tooltip-divider {
  height: 1px;
  border: none;
  background: var(--ub-border);
  margin: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  display: none;
}

.ub-tooltip-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--ub-muted-foreground);
}

.ub-tooltip-content {
  position: relative;
  display: grid;
  overflow: hidden;
  row-gap: calc(0.25rem);
  padding-right: 1rem;
  padding-left: 1rem;
}

.ub-tooltip-multiple-metrics-attributes .ub-tooltip-content {
  grid-template-columns:
    1rem max-content repeat(var(--attr-count), min-content)
    auto;
}

.ub-tooltip-multiple-attributes .ub-tooltip-content {
  grid-template-columns:
    1rem repeat(var(--attr-count), min-content)
    auto;
}

.ub-tooltip-multiple-metrics .ub-tooltip-content {
  grid-template-columns: 1rem 1fr auto;
}

.ub-tooltip-serie {
  display: contents;
}

.ub-tooltip-serie-color {
  height: 0.5em;
  width: 0.5em;
  align-self: center;
  margin-top: 1.5px;
  border-radius: 999px;
}

.ub-tooltip-serie-metric {
  margin-right: 0.5rem;
}

.ub-tooltip-serie-attributes {
  display: contents;
}

.ub-tooltip-serie-attribute-value {
  overflow: hidden;
  max-width: 400px;
}

.ub-tooltip-multiple-attributes .ub-tooltip-serie-metric {
  color: var(--ub-muted-foreground);
}

.ub-tooltip-multiple-metrics-attributes .ub-tooltip-serie-metric {
  color: var(--ub-muted-foreground);
}

.ub-tooltip-summary {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  color: var(--ub-muted-foreground);
  opacity: 90%;
}

.ub-tooltip-serie-value {
  text-align: right;
  font-weight: 500;
  margin-left: 1.5rem;
  font-family: var(--font-mono, ui-monospace, monospace);
}

.ub-tooltip-serie-value-empty {
  font-weight: 400;
  color: var(--ub-text-disabled);
}

.ub-tooltip-serie-attribute-value + .ub-tooltip-serie-attribute-value::before {
  content: "·";
  opacity: 0.5;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: var(--ub-muted-foreground);
}

.ub-tooltip-no-data {
  padding: 0 0.3rem 0 0.3rem;
  font-style: italic;
  color: var(--ub-placeholder);
  line-height: 1rem;
}
