/* Container */
.ub-tooltip {
  display: flex;
  width: fit-content;
  min-width: 240px;
  max-width: 520px;
  flex-direction: column;
  font-size: 0.875rem;
  overflow: hidden;
  background-color: var(--ub-muted);
  border-radius: var(--ub-radius);
  border: 1px solid color-mix(in oklch, var(--ub-border) 100%, transparent);
}

.ub-tooltip-container {
  border-bottom: 1px solid var(--ub-border);
  border-radius: var(--ub-radius);
  background-color: var(--ub-popover);
}

.ub-tooltip-datetime {
  font-weight: 400;
  font-size: calc(1em - 2px);
}

.ub-tooltip-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--ub-muted-foreground);
  background-color: var(--ub-muted);
}

.ub-tooltip-content {
  position: relative;
  display: grid;
  overflow: hidden;
  padding-right: 1rem;
  padding-left: 1rem;
}

.ub-tooltip-multiple-metrics .ub-tooltip-content {
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

.ub-tooltip-multiple-metrics-attributes .ub-tooltip-content {
  grid-template-columns:
    1rem max-content repeat(var(--attr-count), min-content)
    minmax(1rem, auto);
  grid-auto-rows: minmax(1.5rem, auto);
  padding-top: 0;
  padding-bottom: 0;
}

.ub-tooltip-summary {
  border-top: 1px solid var(--ub-muted);
}

.ub-tooltip-multiple-attributes
  .ub-tooltip-serie-attributes
  > .ub-tooltip-serie-attribute-value:first-child {
  border-left: none;
  padding-left: 0rem;
}

.ub-tooltip-multiple-attributes .ub-tooltip-content {
  grid-template-columns:
    1rem repeat(var(--attr-count), min-content)
    minmax(1rem, auto);
  grid-auto-rows: minmax(1.5rem, auto);
}

.ub-tooltip-content .ub-tooltip-serie:first-child > * {
  padding-top: 0.5rem;
  margin-bottom: 0.175rem;
}

.ub-tooltip-content
  .ub-tooltip-serie:first-child
  > .ub-tooltip-serie-attributes
  > * {
  padding-bottom: 0.175rem;
  padding-top: 0.5rem;
}

.ub-tooltip-content .ub-tooltip-serie:last-child > * {
  margin-top: 0.175rem;
  padding-bottom: 0.5rem;
}

.ub-tooltip-content
  .ub-tooltip-serie:last-child
  > .ub-tooltip-serie-attributes
  > * {
  padding-top: 0.175rem;
  padding-bottom: 0.5rem;
}

.ub-tooltip-multiple-metrics .ub-tooltip-content {
  grid-template-columns: 1rem 1fr minmax(1rem, auto);
  grid-auto-rows: 1.5rem;
}

.ub-tooltip-serie {
  display: contents;
  align-items: center;
}

.ub-tooltip-serie-color-container {
  align-self: center;
}

.ub-tooltip-serie-color {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 999px;
  display: block;
  outline: 2px solid var(--ub-muted);
  margin-top: 1.5px;
}

.ub-tooltip-serie-metric {
  margin-right: 0.5rem;
  align-self: center;
}

.ub-tooltip-serie-attributes {
  display: contents;
}

.ub-tooltip-serie-attribute-value {
  overflow: hidden;
  max-width: 400px;
  border-left: 1px solid var(--ub-muted);
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.ub-tooltip-multiple-attributes .ub-tooltip-serie-metric {
  color: var(--ub-muted-foreground);
}

.ub-tooltip-multiple-metrics-attributes .ub-tooltip-serie-metric {
  color: var(--ub-muted-foreground);
}

.ub-tooltip-summary {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  color: var(--ub-muted-foreground);
  opacity: 90%;
}

.ub-tooltip-serie-value {
  text-align: right;
  font-weight: 500;
  margin-left: 2.5rem;
  align-self: center;
  font-family: var(--font-mono, ui-monospace, monospace);
}

.ub-tooltip-serie-value-empty {
  font-weight: 400;
  color: var(--ub-text-disabled);
}

.ub-tooltip-no-data {
  padding: 0 0.3rem 0 0.3rem;
  font-style: italic;
  color: var(--ub-placeholder);
  line-height: 1rem;
}
