@import "uplot/dist/uPlot.min.css";
@import "./components/Tooltip/Tooltip.css";
@import "./components/Defaults/Defaults.css";

:root {
  --ub-radius: var(--radius, 0.5rem);
  --ub-background: var(--background, oklch(1 0 0));
  --ub-primary: var(--primary, oklch(0.208 0.042 264.541));
  --ub-primary-foreground: var(--primary-foreground, oklch(1 0 0));
  --ub-secondary: var(--secondary, oklch(0.985 0.002 264.542));
  --ub-secondary-foreground: var(
    --secondary-foreground,
    oklch(0.208 0.042 264.541)
  );
  --ub-muted: var(--muted, oklch(0.967 0.001 286.375));
  --ub-muted-foreground: var(--muted-foreground, oklch(0.552 0.016 285.938));
  --ub-popover: var(--popover, oklch(1 0 0));
  --ub-border: var(
    --border,
    oklch(0.922 0.005 264.542 / 0.8)
  ); /* gray-200/80 */
  --ub-ring: var(--ring, oklch(0.208 0.042 264.541));

  /* Custom extensions */
  /* Shadows */
  --ub-shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --ub-shadow-lg:
    0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --ub-shadow-ring: 0 0 0 1px oklch(0.922 0.005 264.542 / 0.4);
  --ub-shadow-ring-sm: 0 0 0 1px rgb(0 0 0 / 0.05);

  /* Effects */
  --ub-backdrop-blur: blur(12px);
  --ub-opacity-subtle: 0.7;

  /* Chart */
  --ub-chart-font-size: 11px;
  --ub-chart-font-color: var(--ub-muted-foreground);
  --ub-chart-grid-color: oklch(from var(--ub-muted-foreground) l c h / 0.15);

  /* Threshold colors */
  --ub-chart-threshold-error: oklch(60% 0.2 30);
  --ub-chart-threshold-warning: oklch(75% 0.18 90);
  --ub-chart-threshold-ok: oklch(65% 0.15 145);
  --ub-chart-threshold-info: oklch(85% 0.005 240);
  --ub-chart-threshold-default: oklch(65% 0.01 0);

  --ub-chart-threshold-error-fill: oklch(
    from var(--ub-chart-threshold-error) l c h / 0.15
  );
  --ub-chart-threshold-warning-fill: oklch(
    from var(--ub-chart-threshold-warning) l c h / 0.15
  );
  --ub-chart-threshold-ok-fill: oklch(
    from var(--ub-chart-threshold-ok) l c h / 0.15
  );
  --ub-chart-threshold-info-fill: oklch(
    from var(--ub-chart-threshold-info) l c h / 0.15
  );
  --ub-chart-threshold-default-fill: oklch(
    from var(--ub-chart-threshold-default) l c h / 0.1
  );

  --ub-chart-serie-color-1: var(--chart-1, oklch(0.68 0.214 293.418));
  --ub-chart-serie-color-2: var(--chart-2, oklch(0.84 0.151 94.621));
  --ub-chart-serie-color-3: var(--chart-3, oklch(0.68 0.2 255.485));
  --ub-chart-serie-color-4: var(--chart-4, oklch(0.7 0.245 27.325));
  --ub-chart-serie-color-5: var(--chart-5, oklch(0.68 0.18 149.579));
  --ub-chart-serie-color-6: var(--chart-6, oklch(0.75 0.159 50.554));
  --ub-chart-serie-color-7: var(--chart-7, oklch(0.7 0.14 215.355));
  --ub-chart-serie-color-8: var(--chart-8, oklch(0.68 0.25 301.364));
  --ub-chart-serie-color-9: var(--chart-9, oklch(0.72 0.16 89.872));
  --ub-chart-serie-color-10: var(--chart-10, oklch(0.65 0.2 276.652));
  --ub-chart-serie-color-11: var(--chart-11, oklch(0.68 0.14 192.803));
  --ub-chart-serie-color-12: var(--chart-12, oklch(0.65 0.22 3.555));

  --ub-chart-serie-fill-color-1: oklch(
    from var(--ub-chart-serie-color-1) l c h / 0.4
  );
  --ub-chart-serie-fill-color-2: oklch(
    from var(--ub-chart-serie-color-2) l c h / 0.4
  );
  --ub-chart-serie-fill-color-3: oklch(
    from var(--ub-chart-serie-color-3) l c h / 0.4
  );
  --ub-chart-serie-fill-color-4: oklch(
    from var(--ub-chart-serie-color-4) l c h / 0.4
  );
  --ub-chart-serie-fill-color-5: oklch(
    from var(--ub-chart-serie-color-5) l c h / 0.4
  );
  --ub-chart-serie-fill-color-6: oklch(
    from var(--ub-chart-serie-color-6) l c h / 0.4
  );
  --ub-chart-serie-fill-color-7: oklch(
    from var(--ub-chart-serie-color-7) l c h / 0.4
  );
  --ub-chart-serie-fill-color-8: oklch(
    from var(--ub-chart-serie-color-8) l c h / 0.4
  );
  --ub-chart-serie-fill-color-9: oklch(
    from var(--ub-chart-serie-color-9) l c h / 0.4
  );
  --ub-chart-serie-fill-color-10: oklch(
    from var(--ub-chart-serie-color-10) l c h / 0.4
  );
  --ub-chart-serie-fill-color-11: oklch(
    from var(--ub-chart-serie-color-11) l c h / 0.4
  );
  --ub-chart-serie-fill-color-12: oklch(
    from var(--ub-chart-serie-color-12) l c h / 0.4
  );

  .ub-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  -webkit-font-smoothing: antialiased;
}

/* Explicit, compatibility with shadcn */
.dark {
  --ub-background: var(--background, oklch(0.236 0.013 265.755)); /* zinc-900 */
  --ub-primary: var(--primary, oklch(1 0 0));
  --ub-primary-foreground: var(
    --primary-foreground,
    oklch(0.236 0.013 265.755)
  ); /* zinc-900 */
  --ub-secondary: var(--secondary, oklch(1 0 0 / 0.05));
  --ub-secondary-foreground: var(--secondary-foreground, oklch(1 0 0));
  --ub-muted: var(--muted, oklch(1 0 0 / 0.05));
  --ub-muted-foreground: var(--muted-foreground, oklch(0.665 0.032 252.894));
  --ub-popover: var(--popover, oklch(0.236 0.013 265.755)); /* zinc-900 */
  --ub-border: var(--border, oklch(1 0 0 / 0.1));
  --ub-ring: var(--ring, oklch(1 0 0));

  /* Custom extensions */
  --ub-shadow-ring: 0 0 0 1px oklch(0.274 0.014 265.755 / 0.4); /* zinc-800/40 */
  --ub-shadow-ring-sm: 0 0 0 1px oklch(1 0 0 / 0.1);
}

@media (prefers-color-scheme: dark) {
  .root {
    --ub-background: var(
      --background,
      oklch(0.236 0.013 265.755)
    ); /* zinc-900 */
    --ub-primary: var(--primary, oklch(1 0 0));
    --ub-primary-foreground: var(
      --primary-foreground,
      oklch(0.236 0.013 265.755)
    ); /* zinc-900 */
    --ub-secondary: var(--secondary, oklch(1 0 0 / 0.05));
    --ub-secondary-foreground: var(--secondary-foreground, oklch(1 0 0));
    --ub-muted: var(--muted, oklch(1 0 0 / 0.05));
    --ub-muted-foreground: var(--muted-foreground, oklch(0.665 0.032 252.894));
    --ub-popover: var(--popover, oklch(0.236 0.013 265.755)); /* zinc-900 */
    --ub-border: var(--border, oklch(1 0 0 / 0.1));
    --ub-ring: var(--ring, oklch(1 0 0));

    /* Custom extensions */
    --ub-shadow-ring: 0 0 0 1px oklch(0.274 0.014 265.755 / 0.4); /* zinc-800/40 */
    --ub-shadow-ring-sm: 0 0 0 1px oklch(1 0 0 / 0.1);
  }
}

@layer ub-chart {
  :where(.ub-chart-container) {
    width: 100%;
    height: 100%;
    min-height: 0;
    flex-grow: 1;
  }
}
